<html>
<head>
    <title>EJS Example</title>
</head>
<body>
    <% if(age < 20) {%>
        <h1>Hello <%= username %>!</h1>
    <% }else { %>
        <h1>Less than 20!</h1>
    <% } %>
</body>

</html>