<!DOCTYPE html>
<html lang="en">
<head>
    <title>Handlebar Example</title>
    <style>
        ul{
            list-style: none;
        }
        li a{
            margin: auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    {{> header }}
    
    <h1>Hello {{ username }}! I'm {{age}} years old!</h1>

</body>
</html>